@{
    ViewData["Title"] = "Not Found";
}

<div class="row">
    <div class="col">
        <h4 class="mb-3">Sorry, we couldn't find what you asked for...</h4>
        <a asp-controller="Cashiers" asp-action="Index" class="btn btn-outline-primary">Home</a>
    </div>
</div>
