@model CreateCashierVM

@{
    ViewData["Title"] = "Edit Cashier";
}

<div class="row">
    <h4>Create a new Cashier</h4>
    <div class="col-md-6 offset-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label class="form-label" asp-for="Card"></label>
                <input class="form-control" type="number" asp-for="Card" />
                <span class="text-danger" asp-validation-for="Card"></span>
            </div>
            <div class="form-group my-3">
                <label class="form-label" asp-for="Cash"></label>
                <input class="form-control" type="number" asp-for="Cash" />
                <span class="text-danger" asp-validation-for="Cash"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Day"></label>
                <input class="form-control" asp-for="Day" type="date" />
                <span class="text-danger" asp-validation-for="Day"></span>
            </div>
            <div class="form-group mt-3">
                <a class="btn btn-outline-secondary" asp-action="Index">Back</a>
                <input type="submit" class="btn btn-outline-primary float-end" value="Submit" />
            </div>
        </form>
    </div>
</div>
