@{
    ViewData["Title"] = "Access Denied";
}

<div class="row">
    <h4 class="text-danger">Access Denied</h4>
    <p>You are not authorized for this url.</p>
    <a class="btn btn-outline-primary col-md-1" asp-action="Index" asp-controller="Cashiers">Dashboard</a>
</div>
